<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  <main>
    <div id="logo">
      <img src="/img/logo.png" alt="foto de login">
    </div>
    <form id="frmLogin" method="post" action="/login" enctype="application/json">
      <input type="text" placeholder="User" name="username">
      <input type="password" placeholder="Password" name="password">
      <button type="submit" >Login</button><br>
      <div class="g-recaptcha" data-sitekey="6LfMWj4mAAAAAHwGxkKlPgo_4Rl18xrgQBy1Dy6v" style="margin: auto;"></div>
      <a href="/register">Registrarse</a>
    </form>
  </main>
  <script src="/js/index.js"></script>
</body>

</html>