<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
      rel="stylesheet"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div id="overlay"></div>
    <header>
      <nav class="navbar">
        <h2 id="name_view"><%= name_view %></h2>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#" class="navbar-link circle">G</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="#">Guia 1</a></li>
              <li class="dropdown-item"><a href="#">Guia 2</a></li>
              <li class="dropdown-item"><a href="#">Guia 3</a></li>
            </ul>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link circle">U</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="#">Cambiar de Perfil</a></li>
              <li class="dropdown-item"><a href="/logout">Salir</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="principal">
        <button type="submit">Editar</button>
      </section>

      <section class="secundary">
        <div class="dropdown">
          <button class="dropdown-btn">Agregar Usuario</button>
          <ul class="dropdown-menu">
            <li>
              <a onclick="showForm('form-studens')">Agregar estudiantes</a>
            </li>
            <li>
              <a onclick="showForm('form-teachers')">Agregar profesores</a>
            </li>
          </ul>
        </div>

        <div><button class="dropdown-btn">Terminal</button></div>
      </section>

      <div id="form-studens" name="form-studens" class="form-container">
        <form id="frmNewStuden" method="POST" enctype="application/json">
          <input
            type="text"
            placeholder="Last Name"
            name="last_Name"
            id="last_Name"
          />
          <input type="text" placeholder="Email" name="email" id="email" />
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
          />
          <button type="submit">Register</button><br />
        </form>
      </div>

      <div id="form-teachers" name="form-teachers" class="form-container">
        <form id="frmNewTeacher" method="POST" enctype="application/json">
          <input type="text" placeholder="Last Name" name="last_Name" />
          <input type="text" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <button type="submit">Register</button><br />
        </form>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
