<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="overlay" onclick="ocultarForm('form-perfil')"></div>
  <header>
    <nav class="navbar">
      <h2 id="name_view">
        <%= name_view %>
      </h2>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#" class="navbar-link circle">N</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">opcion 1</a></li>
            <li class="dropdown-item"><a href="#">opcion 2</a></li>
          </ul>
        </li>
        <li class="navbar-item">
          <a href="#" class="navbar-link circle">G</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">Guia 1</a></li>
            <li class="dropdown-item"><a href="#">Guia 2</a></li>
            <li class="dropdown-item"><a href="#">Guia 3</a></li>
          </ul>
        </li>
        <li class="navbar-item">
          <a href="#" class="navbar-link circle">U</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a onclick="showForm('form-perfil')">Cambiar de Perfil</a></li>
            <li class="dropdown-item"><a href="/logout">Salir</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="principal">
      <button type="submit">Anterior</button>
      <button type="submit">Siguiente</button>
    </section>

    <section class="secundary">
      <button class="btn"><a href="">Revisar Practicas</a></button>
      <button class="btn">
        <a href="/retro-notas">Retroalimentacion y notas</a>
      </button>
      <button class="btn"><a href="/notasStudents">Notas</a></button>
      <button class="btn"><a href="/uploadPrac">Subir Practica</a></button>
    </section>
    <div id="form-perfil" name="form-perfil" class="form-container">
      <form id="frmEditTeacher" enctype="application/json">
        <input type="text" placeholder="Last Name" name="last_Name" />
        <input type="text" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="password" placeholder="Repeat password" name="passwordTry" />
        <input type="hidden" value="<%= session.userId %>" id="userId" />
        <button type="submit">Register</button><br />
      </form>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>